<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Flex Box Element -->
    <div id="flex-content-container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Level up', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <%= link_to 'See All Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
       </div>
      </nav>

      <!-- Alerts for Devise -->
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <!-- Render View -->
      <div>
        <%= yield %>
      </div>
    </div>
    <!-- line to separate body from footer -->
    <hr> 
    <!-- Flexbox Footer-->
    <div id="footer">
      <div class="container">
        <div class="container text-center text-md-left">
          <b>Instructors</b>
          <br />
          <%= link_to 'Teach a Course', new_instructor_course_path %>
        </div>

        <div class="container text-center text-md-right">
          <b>
          Built by <a href="https://twitter.com/Thirdeyeclimber">Michael</a><br />
          with help from <a href="https://www.trilogyed.com/">Trilogy</a><br />
          </b>
        </div>
        <br/>
      </div>
    </div>

  </body>
</html>
